<div class="list-group">
  {{#each posts}}
  <a href="/post/{{id}}" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h2 class="mb-1">Title: {{game}}</h2>
      <h3 class="mb-1">Genre: {{genre}}</h3>
      <h4 class="mb-1">Rating: {{rating}}</h4>

      {{{video_embed}}}

    </div>
  </a>

  {{#each Comments}}
  <p>{{{reaction}}}</p>
  {{/each}}

  <button data-id={{id}}="add-reaction">Add Reaction</button>
  {{/each}}
</div>

<ul>
  {{#each games}}
  <li>{{this}}</li>
  {{/each}}
</ul>

<script>

 let post_id;

  function save(e) {
    getPostId(e.unified, post_id)
  }
 

  document.querySelectorAll('.add-reaction').forEach(button => {
    button.addEventListener('click', function (event) {
      post_id = event.target.dataset.id
      const pickerOptions = { onEmojiSelect: save}
      const picker = new EmojiMart.Picker(pickerOptions)
      
      event.target.parentElement.appendChild(picker)
    });
  });




</script>

<script src="/js/reaction.js"></script>
