<main class="container mt-5">
    <article>
        <h1>{{title}}</h1>
        <p>Created by: {{user.name}}</p>
        <p>{{description}}</p>
    </article>
    {{#if logged_in}}
    <form id="comment-form" class="mb-3">
        <div class="mb-3">
            <label class="form-label">Comment</label>
            <textarea id="comment-description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {{/if}}
    <h2>Comment History:</h2>
    {{#each comments as |comment|}}
    <div class="comment mb-3">
        <p>{{description}}</p>
        <p>By {{user.name}}</p>
    </div>
    {{/each}}
</main>
<script src="/js/Comment.js"></script>